@import '../../variables.scss';

.search {
    width: 71%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 5px solid $input-bottomline;
    font-size: 20px;
    color: $input-txt;
    margin-bottom: 10px;

    &::placeholder {
        color: $input-placeholder;
        font-family:Arial, Helvetica, sans-serif;
    }
}