@import '../../variables.scss';

.button {
    width: 23%;
    margin: 15px;
    padding: 10px;
    border: none;
    background-color: $background-color;
    color: $btn-name;
    border: 5px solid $btn-border;
    font-size: 30px;
    cursor: pointer;

    &:hover {
        background-color: $btn-hover;
    }
}