@import '../../variables.scss';

.character-page {
    background-color: $background-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__name {
        color: $char-name;
        font-size: 50px;
        margin-bottom: 0;
    }
}
