@import '../../base.scss';

@font-face {
    font-family: 'MagicSchoolOne'; 
    src: url('../../static/fonts/MagicSchoolOne.ttf') format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
}


* {
    font-family: 'MagicSchoolOne';
}

.wrapper {
    text-align: center;
    background: $background-color;
    min-height: 100vh;
}

.characters-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.category-btn:hover {
    background-color: $green;
}