@import '../../base.scss';

.character-card {
    display: flex;
    flex-direction: column;
    border: 5px solid $orange;
    margin: 50px;
}

.character-card:hover {
    background-color: $green;
}
    
.character-card__name {
    font-size: 28px;
    color: $orange;
}

.character-card__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.character-card__img {
    width: 200px;
    height: 270px;
    object-fit: cover;
}