$background-color: rgba(110,56,56,1);

$char-description: orange;

$char-name: orange;

$error-msg: orange;

$header: orange;

$btn-name: orange;
$btn-border: orange;
$btn-hover: darkolivegreen;

$img-border: orange;
$img-name: orange;
$img-link-border: orange;
$img-hover: darkolivegreen;

$input-bottomline: orange;
$input-txt: white;
$input-placeholder: lightgray;